@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');
* {
  border: 0;
  padding: 0;
  color: white;

}
html{
  min-height: 100vh;
}
.navbar{
  width:100vw;
  position: fixed;
  z-index: 2;
}
body {
  
  background-image:url(website-background-design-guide-1024x655.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center 3.6rem;
  background-attachment: fixed;
  
  /* background-size: ; */

  /* background-color: rgb(246, 236, 236); */
}
.bg {
  position: relative;
  width: 100vw;
  min-height: 14rem;
}
.para {
  position: relative;
  top: 5rem;
  font-size: 1.5rem;
  text-align: center;
}
.heading {
  font-family: 'Dancing Script', cursive;
 color: rgb(239, 149, 149);

  position: relative;
  top: 4rem;
  text-align: center;
  font-size: 2.6rem;
}
.card {
  position: relative;
  top: 3.5rem;
  background: none;

  margin: 0.4rem;
}
.card-img-top {

  margin-left: -1.2rem;
  width: 95vw;
  background: none;
}
.card-body {
  
  
  border: 2px solid white;
  border-radius: 2rem;
  padding: 0;
  align-self: center;
  position: relative;
  top: 1rem;
  width: 95vw;
  background:none;
  text-align: center;
}
.text{
  position: relative;
  top:-2rem;
  background: none;
}
.btn-primary{
  position: relative;
  top:-2rem;
}
.card-img-top{
  align-content: center;
  width:6.8rem;
}
.card-img-top2{
  height: 6rem;
  width:6.8rem;
}